In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse
import numpy as np

In [2]:
# Leo archivo de datos limpios
data = pd.read_csv('../002_datos/splitdata.csv')
data.drop('tiempo',axis='columns',inplace=True)
data.drop('UV',axis='columns',inplace=True)
data

,year,month,day,hour,minute,Idirecta,Iglobal,Idifusa,To,HR,Wspeed,P
0,2019,5,3,0,0,0.000,0.000,0.0,23.02,47.67,3.463,87600.16
1,2019,5,3,0,10,0.000,0.000,0.0,22.95,48.15,2.541,87595.97
2,2019,5,3,0,20,0.000,0.000,0.0,23.01,47.78,1.763,87589.49
3,2019,5,3,0,30,0.000,0.000,0.0,22.83,47.67,2.161,87585.36
4,2019,5,3,0,40,0.000,0.000,0.0,22.69,48.32,1.409,87563.32
...,...,...,...,...,...,...,...,...,...,...,...,...
7628,2019,6,24,23,20,0.132,0.000,0.0,23.52,76.54,0.467,87712.98
7629,2019,6,24,23,30,0.150,0.000,0.0,23.54,77.08,0.427,87711.32
7630,2019,6,24,23,40,0.112,0.000,0.0,23.39,79.91,0.578,87708.11
7631,2019,6,24,23,50,0.155,0.000,0.0,23.16,80.50,2.258,87710.50
7632,2019,6,25,0,0,0.012,0.184,0.0,22.48,84.40,2.867,87687.62

In [3]:
data.to_csv('../epw/esolmet/TemixcoEsolmet2018.csv',index=False,header=False)