In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse
import numpy as np

In [5]:
# Leo archivo de datos limpios
data = pd.read_csv('../data/splitdata.csv')
data.drop('tiempo',axis='columns',inplace=True)
data

,year,month,day,hour,minute,Idirecta,Iglobal,Idifusa,UV,To,HR,Wspeed,Presion
0,2019,3,5,0,0,0.000,0.000,0.0,0.186,23.02,47.67,3.463,876.0016
1,2019,3,5,0,10,0.000,0.000,0.0,0.183,22.95,48.15,2.541,875.9597
2,2019,3,5,0,20,0.000,0.000,0.0,0.184,23.01,47.78,1.763,875.8949
3,2019,3,5,0,30,0.000,0.000,0.0,0.183,22.83,47.67,2.161,875.8536
4,2019,3,5,0,40,0.000,0.000,0.0,0.185,22.69,48.32,1.409,875.6332
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7628,2019,6,24,23,20,0.132,0.000,0.0,0.000,23.52,76.54,0.467,877.1298
7629,2019,6,24,23,30,0.150,0.000,0.0,0.000,23.54,77.08,0.427,877.1132
7630,2019,6,24,23,40,0.112,0.000,0.0,0.000,23.39,79.91,0.578,877.0811
7631,2019,6,24,23,50,0.155,0.000,0.0,0.000,23.16,80.50,2.258,877.1050
7632,2019,6,25,0,0,0.012,0.184,0.0,0.000,22.48,84.40,2.867,876.8762

In [7]:
data.to_csv('../data/dataforepw.csv',index=False,header=False)