In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from dateutil.parser import parse

In [2]:
def plot_weekend(data,fecha1):
    fig, ax = plt.subplots(figsize=(12,4))

    fecha1 = parse(fecha1) - pd.Timedelta('1D')
    fecha2 = fecha1 + pd.Timedelta('4D')
    ax.set_xlim(fecha1,fecha2)

    ax.scatter(data.index,data.TCAire)

In [3]:
# Datos de mediciones de fin de semana
weekend_data = pd.read_csv('../data/weekends.csv',index_col=0,parse_dates=True)

In [4]:
nombres = np.genfromtxt('../idf/cubiculo_original/cubiculo.csv',dtype='U',delimiter=',',max_rows=1,)
nombres

for i,nombre in enumerate(nombres):
    print(i,nombre)
    
nombres[0]  = 'tiempo'
nombres[1]  = 'To'
nombres[2]  = 'Ti'

0 Date/Time
1 Environment:Site Outdoor Air Drybulb Temperature [C](TimeStep)
2 THERMAL ZONE: JORGE:Zone Mean Air Temperature [C](TimeStep)

In [45]:
# Llamada de datos de e+
simulate = pd.read_csv('../idf/cubiculo_original/cubiculo.csv',names=nombres,skiprows=1)
simulate.tiempo = simulate.tiempo.str.replace('24:00:00','23:59:59')
simulate.tiempo = '2019-'+simulate.tiempo
simulate.tiempo = pd.to_datetime(simulate.tiempo,format='%Y- %m/%d %H:%M:%S')
simulate.tiempo = simulate.tiempo-pd.Timedelta('10minute')
simulate.set_index('tiempo',inplace=True)
# Hago columna de dias para hacer mascara
simulate['dia'] = simulate.index.day_of_week
# solo dines de semana de simulaciones
weekend_simu = simulate[simulate.index.day_of_week>=5]
weekend_simu

                       To         Ti  dia
tiempo
2019-05-03 00:00:00  23.0  25.539238    4
2019-05-03 00:10:00  23.0  25.391032    4
2019-05-03 00:20:00  23.0  25.301467    4
2019-05-03 00:30:00  22.8  25.245137    4
2019-05-03 00:40:00  22.7  25.194396    4
...                   ...        ...  ...
2019-05-03 23:10:00  25.4  25.859470    4
2019-05-03 23:20:00  25.4  25.816464    4
2019-05-03 23:30:00  25.5  25.773451    4
2019-05-03 23:40:00  25.5  25.736196    4
2019-05-03 23:49:59  25.6  25.703883    4

[144 rows x 3 columns]